<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <div id='jokeDiv'> <%= joke %></div>
    <div class='buttonDiv'><button id="getJoke">Get Joke</button></div>
    <div class='buttonDiv'><button id="likeJoke">Like Joke</button></div>

   <!--  <div
     class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
    </div> -->
  </body>
</html>
